@charset "utf-8";
.bodyClass {
    background-color: #f4f2ec;

}
.inputFieldClass {
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px;
    border-style: none;
    width: 150px;
    height: 50px;
    font-weight: normal;
    color: #E98074;
}
.labels {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #E98074;
    font-style: normal;
    font-weight: bold;
    text-indent: 0px;
    text-align: left;
    padding-right: 15px;
    font-size: 25px;
}

#realTime {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #E98074;
    font-style: normal;
    text-indent: 0px;
    text-align: left;
    padding-left: 5px;
    font-size: 25px;
}

/* from CPSC310 project CSS */
.button {
    border-radius: 10px;
	background-color: #ebb595;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* https://codepen.io/ash_s_west/pen/GRZbvym */
.button:hover {
    transition-duration: 0.1s;
    background-color: #817a7a;
  }

/* source: w3schools css navbar */
#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
	overflow: hidden;
    background-color: #EAE7DC;
}

#navbarText a {
    display: block;
    color: rgb(165, 65, 65);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Monospace;
    font-size: 15px;
}

#navbarText {
	float: left;
}

h1{
    color: #E85A4F;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 50px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#recipeBody .recipeList{
    animation: fadeIn ease 1.5s;
    border-style: solid;
    border-radius: 10px;
    border-color: #ebb595;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #E98074;
    font-style: normal;
    font-weight: bold;
    text-indent: 0px;
    text-align: left;
    padding-right: 15px;
    font-size: 15px;
}

.slider{
    background: #d3d3d3;
    outline: none;
    fill: #006EE3;
    stroke: none;
}